.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notfound-message {
    font-family: 'Oswald';
    font-size: 8vmin;
}

.notfound-sub-message {
    margin-top: 5vmin;
    font-family: 'runda', sans-serif;
    font-size: 4vmin;
}

.notfound-cta-btn {
    font-family: 'Nimbus Sans';
    font-size: 13px;
    margin-top: 5vmin;
    background: #f9ac19 !important;
    color: white !important;
    width: 145px !important;
    height: 50px !important;
}

.notfound-pitch-message {
    width: 65%;
    margin-top: 4vmin;
    font-size: 2.2vmin;
    text-align: center;
    line-height: 1.3;
}

/* For desktops and laptops */
@media (min-width: 1025px) {
    .notfound-pitch-message {
        font-size: 2.2vmin;
    }
}

/* For landscape tablets and medium devices */
@media (max-width: 1024px) {
    .notfound-pitch-message {
        font-size: 2.2vmin;
    }
}

/* For portrait tablets and small devices */
@media (max-width: 768px) {
    .notfound-pitch-message {
        font-size: 2.7vmin;
    }
}

/* For smaller smartphones */
@media (max-width: 480px) {
    .notfound-pitch-message {
        width: 75%;
        font-size: 3.4vmin;
    }
}
