<footer class="footer">
    <div class="flex-container">
        <div class="flex-item footer-padding">&copy; 2023 Jared Wuliger</div>
        <div class="flex-item" style="text-align: right">
            <a
                href="https://www.linkedin.com/in/jwuliger/"
                target="_blank"
                mat-icon-button
                class="footer-icon-padding"
            >
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a
                href="https://github.com/jwuliger"
                target="_blank"
                mat-icon-button
                class="footer-icon-padding"
            >
                <i class="fa-brands fa-github"></i>
            </a>
            <a
                href="https://stackoverflow.com/users/993514/jared"
                target="_blank"
                mat-icon-button
                class="footer-icon-padding"
            >
                <i class="fa-brands fa-stack-overflow"></i>
            </a>
        </div>
    </div>
</footer>
