.footer {
    background-color: #000000;
    color: white;
    padding: 15px;
    height: 40px;
    opacity: 0.8;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex-basis: 50%;
    box-sizing: border-box;
}

.footer-padding {
    margin-top: -3px;
    margin-left: 5px;
}

.footer-icon-padding {
    margin-top: -5px;
}
