.app-about-lead {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7;
    margin: 0 0 1em 0;
    font-weight: 500;
}

.app-about-img {
    margin-bottom: 32px;
    margin-left: auto;
}

.img-column {
    display: flex;
    flex-basis: 30%;
    align-items: flex-end; /* Align items vertically at the end (bottom) */
}
