<h1 class="app-page-header">ABOUT</h1>
<div class="page-container">Hello World</div>
<!-- <div>
    <h1 class="app-page-header">ABOUT</h1>
</div>
<div class="flex-container">
    <div class="flex-item" style="text-align: center">
        <img
            src="../assets/about/b.png"
            alt="About Jared Wuliger"
            class="app-about-img"
        />
    </div>
    <div class="flex-item app-about-content">
        <p class="app-about-lead">
            Hello there, I'm Jared Wuliger, a Senior Software Engineer and AI
            Applications Developer with a unique journey of over 24 years in the
            tech industry.
        </p>

        <p>
            I'm based in Durham, NC, and embrace the flexibility and freedom of
            remote work. My passion for innovation and progression led me to
            pivot from the corporate environment in 2021, launching into the
            realm of consulting and freelancing where I have been merging my
            diverse skillset with independent projects that range from website
            creation and AI application development to developing financial
            indicators.
        </p>

        <p>
            My proficiencies span across various domains and technologies. I'm
            deeply knowledgeable about Front-End Web Development, Mobile
            Application Development, and AI Applications. My technical toolkit
            includes proficiency in languages like TypeScript, JavaScript,
            Python, and Trading View Pinescript. I have a proven track record
            with a variety of frameworks, including Angular, Ionic, Node,
            NestJS, Flask, NX, PyTorch, and TensorFlow. Moreover, I am adept
            with SQL and NoSQL databases, particularly inclined towards NoSQL
            and Firebase.
        </p>

        <p>
            Beyond hard skills, my abilities also include problem-solving and
            quickly adapting to new technologies and concepts. I have a knack
            for UI/UX design and AI Prompt Engineering, with a proven record of
            enhancing productivity using ChatGPT.
        </p>

        <p>
            Over the course of my career, I've had the privilege to work on
            diverse projects. As a Remote Consultant & Developer at Viven Health
            Group, I reverse-engineered numerous legacy applications into their
            modern Angular counterparts. During my tenure as the Founder, CEO,
            and CTO at Request It, Inc., I conceived, architected, and designed
            each application, even serving as the company's branding custodian.
            Prior to this, at CafePress, Inc., I contributed to enhancing
            various e-commerce platforms using a suite of Microsoft
            technologies.
        </p>

        <p>
            My career began as a Junior Web Developer at Kelltech, Inc., where I
            rapidly navigated the world of advanced programming. Then, as a
            Co-Founder & Director of Development at Oxcyon, Inc., I had the
            unique opportunity to build and maintain a bespoke Content
            Management System (CMS). Each experience has enriched me, and I
            believe that the rich tapestry of my experiences primes me to adapt
            and contribute to a diverse range of opportunities.
        </p>

        <p>
            I invite you to explore my portfolio for a more detailed project
            description, and let's connect on LinkedIn or via GitHub to discuss
            how we can bring growth and innovation to your organization.
        </p>
        <div style="text-align: right">
            <button mat-raised-button color="primary">CONTACT ME</button>
        </div>
    </div>
</div> -->
