<h1 class="app-page-header">ABOUT</h1>
<div class="app-page-container">
    <div class="app-page-content">
        <div class="column">
            <p class="app-about-lead">
                Hello, I'm Jared, a seasoned Software Engineer with a rich
                career spanning more than 24 years. Having mastered the dynamics
                of the industry, I'm now exploring remote opportunities that
                resonate with my professional ambitions. My skill set, honed
                over years of diverse experience, equips me to make a
                substantial contribution to an organization that values
                innovation, growth, and forward-thinking.
            </p>

            <p>
                In my career, I've cultivated a broad spectrum of technical
                proficiencies that allow me to navigate a myriad of
                opportunities with agility. I am well-versed in numerous
                programming languages, frameworks, and databases, with a
                particular emphasis on front-end web development, mobile
                application development, and AI applications.
            </p>

            <p>
                Productivity and creative freedom are key for me. I thrive in
                work environments that foster these values, enabling me to
                utilize my expertise to the fullest. I am passionate about
                driving organizational growth, and equally dedicated to
                continuous learning, always looking for ways to refine my craft
                and push the boundaries of what I can achieve.
            </p>

            <p>
                Outside of my professional life, I am a technology enthusiast,
                always staying abreast of the latest trends and advancements.
                When I'm not coding or working on AI projects, you'll find me
                exploring new learning opportunities, nurturing my
                entrepreneurial interests, and connecting with fellow industry
                professionals.
            </p>

            <p>
                Join me as I continue my journey in the ever-evolving world of
                technology, seeking innovative solutions and paving the way for
                the next generation of software development.
            </p>
        </div>
        <div class="column img-column">
            <img
                class="app-about-img"
                src="/assets/about/about.png"
                alt="About Jared Wuliger"
            />
        </div>
    </div>
</div>
