.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-message {
    font-family: 'Oswald';
    font-size: 8vmin;
}

.hero-sub-message {
    margin-top: 5vmin;
    font-family: 'runda', sans-serif;
    font-size: 4vmin;
}

.hero-cta-btn {
    font-family: 'Nimbus Sans';
    font-size: 13px;
    margin-top: 7vmin;
    background: #f9ac19 !important;
    color: white !important;
    width: 145px !important;
    height: 50px !important;
}
