<div class="home-page-container">
    <ngx-typed-js
        class="hero-message"
        [strings]="['Development', 'Engineering', 'Architecture', 'Consulting']"
        [typeSpeed]="100"
        [loop]="true"
        [startDelay]="500"
        [fadeOut]="true"
        [fadeOutDelay]="100"
        [showCursor]="false"
    >
        Cutting-edge App
        <span class="typing"></span>
    </ngx-typed-js>
    <div class="hero-sub-message">Book a free strategy call today!</div>
    <div class="hero-pitch-message">
        Hi, I'm Jared, a software engineer bringing 24 years of experience and
        expertise in front-end web development, mobile apps, and AI. Looking to
        leverage my skills to drive growth and innovation in your organization -
        let's connect!
    </div>
    <div>
        <button mat-flat-button class="hero-cta-btn shadow" routerLink="/about">
            LEARN MORE
        </button>
    </div>
</div>
