<div class="home-page-container">
    <ngx-typed-js
        class="hero-message"
        [strings]="['Development', 'Engineering', 'Architecture', 'Consulting']"
        [typeSpeed]="100"
        [loop]="true"
        [startDelay]="500"
        [fadeOut]="true"
        [fadeOutDelay]="100"
        [showCursor]="false"
    >
        Cutting-edge App
        <span class="typing"></span>
    </ngx-typed-js>
    <div class="hero-sub-message">Book a free strategy call today!</div>
    <div><button mat-flat-button class="hero-cta-btn">Learn More</button></div>
</div>
