@font-face {
    font-family: 'Nimbus Sans';
    src: url('./assets/fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mat-typography h1.app-page-header {
    font-family: Oswald;
    font-size: 40px;
    padding-top: 5px;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    margin: 15px;
}
