@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./assets/fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

h1.app-page-header {
    margin: 0;
    font-family: 'Oswald';
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main-content {
    flex: 1;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    background: #ebebeb;
}
