@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./assets/fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(#fff6e4, #8b9da9);
    background-attachment: fixed;
}

h1.app-page-header {
    margin: 0;
    font-family: 'Oswald';
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-main-content {
    flex: 1;
}

.app-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
}

.app-page-content {
    display: flex;
    flex: 1;
}

/* For desktops and laptops */
@media (min-width: 1025px) {
    .app-page-content {
        flex-direction: row;
    }
}

/* For landscape tablets and medium devices */
@media (max-width: 1024px) {
    .app-page-content {
        flex-direction: column;
    }
}

/* For portrait tablets and small devices */
@media (max-width: 768px) {
    .app-page-content {
        flex-direction: column;
    }
}

/* For smaller smartphones */
@media (max-width: 480px) {
    .app-page-content {
        flex-direction: column;
    }
}

.column {
    flex: 1;
    flex-basis: 70%;
    padding: 20px;
    margin-left: 40px;
    box-sizing: border-box;
    line-height: 1.8;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    background: #ebebeb;
}
