<h1 class="app-page-header">PROJECTS</h1>
<div class="app-projects-lead">
    Throughout my professional journey, I have predominantly been engaged in
    proprietary projects, encompassing a diverse range of client-based and
    personal initiatives. This comprehensive list encapsulates the breadth and
    depth of my experience in these endeavors.
</div>
<div class="masonry">
    <ng-container *ngFor="let project of projects">
        <a routerLink="/projects/detail/{{ project.id }}">
            <div class="item shadow">
                <img alt="" src="{{ project.thumbnail }}" />
                <div class="project-title">{{ project.title }}</div>
                <div class="project-caption">{{ project.caption }}</div>
            </div>
        </a>
    </ng-container>
</div>
